.left-nav
    .topbar
        h1 
            img(src='/images/assets/airwave-logo.png')
            span.small BETA
    - if(user.picture)
        .mask
            img(src='#{user.picture}', class="prof-pic")
    - else if(user.local.name)
        .mask
            p #{user.local.name.charAt(0)}
    - else
        .mask
            p #{user.local.username.charAt(0)}
    - if (user.eboard.position)
        if(user.permanent != true)
        .dropdown
            button.dropdown-toggle.clear(type="button",id="actions",data-toggle="dropdown",aria-expanded="true")
                - if(user.local.name)
                    h2 #{user.local.name}
                - else
                    h2 #{user.local.username}
                span.caret
            ul.dropdown-menu(role="menu",aria-labelledby="actions")
                li(role="presentation") 
                    a(href='/admin/library') Switch to admin
    - else
        - if(user.local.name)
            h2 #{user.local.name}
        - else
            h2 #{user.local.username}
    ul
        li
            a(href='/app/log')
                img(src="/images/icons/mic.png")
                | Music Log
        li 
            a(href='/app/playlists')
                img(src="/images/icons/playlists.png")
                | Playlists
        li 
            a(href='/app/profile')
                img(src="/images/icons/profile.png")
                | Profile
    .logout
        a(href="/logout")
            img(src="/images/icons/logout.png")
            | Logout