extends layout

block content
  .container
    form(action='/admin/events', method='post')
      .modal-header
        h3 Add/Edit Event
      .modal-body
        input(name='id', type='text', style='display: none;')
        | Event Name:
        input.input-block-level(type='text', placeholder='', name='name')
        | Date:
        input.event-date(type='date', name='date')
        
        br
        | Time:
        br
        .start_time
          select.short-field.start_hour(name = "start_hour")
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
            option 11
            option 12
          | :
          input.short-field.start_minute(type='text', value='00', name = "start_minute")
          select.short-field.start_ampm(name = 'start_ampm')
            option PM
            option AM
        | until
        .end-time
          select.short-field.end_hour(name='end_hour')
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
            option 11
            option 12
          | :
          input.short-field.end_minute(type='text', value='00', name='end_minute')
          select.short-field.end_ampm(name='end_ampm')
            option AM
            option PM
        | Location:
        input.input-block-level(type='text', placeholder='', name='location')
        | Description:
        textarea.input-block-level(rows='3', placeholder='', name='description')
        //| Spam:
          br
          input(type='file', name='spam')
        p.spam_view There is no spam for this event uploaded yet.
        button.btn.btn-custom(type='submit', name='submit') Save changes
    h2 WZLY Events
    button.btn.pull-right(data-target='.events-modal', role='button', data-toggle='modal')
      i.icon-plus
      | Add Event
    table.table.table-striped.events-table
      thead
        tr
          th Name
          th Date
          th Time
          th Location
          th Edit
          th Delete
      tbody
        each event, i in events
          tr
            td #{event.name}
            td #{event.date}
            td #{event.start_time} - #{event.end_time}
            td #{event.location}
            td(class='edit-event',data-id='#{i}') x
            td 
              form(method='post', action='/admin/events/#{event._id}')
                button(type='submit', role='button') x
    
    //end container
    script(type='text/javascript').                                   
      var local_data =!{JSON.stringify(events)}
      console.log(local_data)
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/events.js')

