extends layout

block content
  .container

    include admin-sidebar
    .content.events
      .events-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Add or Edit Event" aria-hidden="true")
        .modal-dialog
          form.events-form.form-with-labels(action='/admin/events', method='post', enctype="multipart/form-data")
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                h3.modal-title Add/Edit Event
              .modal-body
                input(name='id', type='text', style='display: none;')
                .row
                  .col-sm-3
                    label.inline(for='name') Event Name
                  .col-sm-9
                    input.med(type='text', placeholder='', name='name')
                .row
                  .col-sm-3
                    label.inline(for='date') Date
                  .col-sm-9
                    input.event-date(type='date', name='date')
                .row
                  .col-sm-3
                    label.inline(for='time') Time
                  .col-sm-9
                    span.start_time
                      select.short-field.start_hour(name = "start_hour")
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
                        option 11
                        option 12
                      | :
                      input.short-field.start_minute(type='text', value='00', name = "start_minute")
                      select.short-field.start_ampm(name = 'start_ampm')
                        option PM
                        option AM
                    span.in-between until
                    span.end-time
                      select.short-field.end_hour(name='end_hour')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
                        option 11
                        option 12
                      | :
                      input.short-field.end_minute(type='text', value='00', name='end_minute')
                      select.short-field.end_ampm(name='end_ampm')
                        option AM
                        option PM
                .row
                  .col-sm-3
                    label.inline(for='location') Location 
                  .col-sm-9
                    input.med(type='text', placeholder='', name='location')
                .row
                  .col-sm-3
                    label.inline(for='description') Description
                  .col-sm-9
                    textarea.full(rows='4', placeholder='', name='description')
                .row
                  .col-sm-3
                    label.inline Spam
                  .col-sm-9
                    input(type='file', name='spam')
                    p.spam_view There is no spam for this event uploaded yet.
              .modal-footer
                button.btn(type='button', data-dismiss='modal') Close
                button.btn.primary(type='submit', name='submit') Save changes
      button.btn.pull-right(data-target='.events-modal', role='button', data-toggle='modal')
        | Add an event
      h2 WZLY Events
      - if (!events[0])
        p.emp.zero-state You don't have any events yet.
      - else
        table.table.table-striped.events-table
          thead
            tr
              th Name
              th Date
              th Time
              th Location
              th Actions
          tbody
            each event, i in events
              tr
                td #{event.name}
                td #{moment(event.start_time).format('MMM Do YYYY')}
                td #{moment(event.start_time).format('h:mm a')} - #{moment(event.end_time).format('h:mm a')}
                td #{event.location}
                td 
                  .dropdown
                      button.btn.dropdown-toggle.clear(type="button",id="actions",data-toggle="dropdown",aria-expanded="true")
                        img(src="/images/icons/gear.png").icon
                        span.caret
                      ul.dropdown-menu(role="menu",aria-labelledby="actions")
                        li(role="presentation") 
                          a(role="menuitem", tabindex="-1", href="#", class="edit-event", data-toggle='modal', class='edit-event',data-id='#{i}', data-target='.events-modal')
                            img(src="/images/icons/edit.png").icon
                            | Edit event
                        li(role="presentation") 
                          form(method='post', action='/admin/events/#{event._id}')
                            button.clear(type='submit', role='button')
                              img(src="/images/icons/trash.png").icon
                              | Delete Event
    //end container
    script(type='text/javascript').                                   
      var local_data =!{JSON.stringify(events)}
      console.log(local_data)
    include global-js
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/events.js')
