extends layout

block content
              
  .container

    include dj-sidebar
    .content
      .playlist-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Add or Edit Playlist Name/Description" aria-hidden="true")
        .modal-dialog
          .modal-content
            form.playlist-form.form-with-labels(action="/app/edit-description" method="post")
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3 Add/Edit Show Name and Description
              .modal-body
                .row
                  .col-sm-3
                    label.inline(for='name') Show Name 
                  .col-sm-9
                    input.full(type='text', placeholder='(optional)', name='name')
                .row
                  .col-sm-3
                    label.inline(for='description') Description
                  .col-sm-9
                    textarea.full(rows='4', placeholder='(optional)', name='description')
              .modal-footer
                  button.btn(type='button', data-dismiss='modal') Close
                  button.btn.primary(type='submit', name='submit') Save
      .charts_select.pull-right
        | Playlist on: 
        select
          option Choose date
          each item in user.playlists
            if (item.startIndex && item.endIndex)
              option(data-start='#{item.startIndex}', data-end='#{item.endIndex}',) #{moment(item.date).format("MMM Do, YYYY")}
      h2 Playlists
      - if(user.playlists.length > 0)
        p.emp.zero-state Select a date to see playlist
      - else
        p.emp.zero-state You don't have any playlists yet. 
      h3.hide.playlist-name
      p.hide.playlist-description
      p.hide.add-name-description
        a.blue(href="#" data-target=".playlist-modal", data-toggle="modal") Add playlist name or description
      label.caps.hide.show-name-label Show:
      span.hide.show-name
      table.table.table-striped.table-condensed.table-albums.table-playlists.hide
        thead
          tr
            th
            th Name
            th Artist
            th Album
        tbody
    //end container
    script(type='text/javascript').
      var user =!{JSON.stringify(user)}
      var songs =!{JSON.stringify(songs)}
    include global-js
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/playlists.js')

