extends layout

block content
  .container

    include admin-sidebar
    #date-range.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;        
              h3.modal-title Choose date range
            .modal-body
              a.btn(href='/admin/csv') All songs
              hr
              h4 Songs in range
              form.csv-form(action='/admin/csv', method='post')
                input(type='date', name='start')
                | to 
                input(type='date', name='end')
                button.btn(type='submit') Get CSV
            .modal-footer
              button.btn(type='button', data-dismiss='modal') Close 
      
    .content
      button.btn.pull-right(data-toggle='modal' data-target='#date-range') Download CSV
      h2 Stream
      table.table.table-striped.table-condensed.table-albums
        thead
          tr
            th Song
            th Artist
            th Album
            th Time
        tbody
          each song, i in songs
            - var now = moment()
            - var date = moment(song.date)
            tr(title="Played by: #{song.playedBy}")
              td #{song.name}
              td #{song.artist}
              td #{song.album}
              - if (now.diff(date, 'days') === 0)
                td #{moment(song.date).format('h:mm a')}
              - else if (now.diff(date, 'days') === 1)
                td #{moment(date).calendar()}
              - else
                td #{moment(song.date).format('MMM Do')} at #{moment(song.date).format('h:mm a')}
      include _paginate
            
    //end container
    include global-js
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/stream.js')

