extends layout


block content
  .modal.fade.position-modal(tabindex="-1", role="dialog", aria-labelledby="Position Modal" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h3 Add position for 
            span.name 
          input(type="text", name="position-name", class="position-name")
        .modal-footer
          button.btn.position-save Save
  .container

    include admin-sidebar
    .content.users
      button.btn.pull-right.show-form Add a user
      h2 Users
      form.user-form.form-inline
        span.sub Users with eboard positions will have admin access.
        input(type='text', name='dj-name', placeholder='DJ name')
        input(type='text', name='username', placeholder='DJ username')
        input(type='text', name='position', placeholder='Position (optional)')
        input(type='text', name='dj-email', placeholder='Email address')
        button.btn(type='submit') Add DJ     
        p
          input(type='checkbox',name='email-check', checked) 
          | DJ's primary email is @wellesley.edu.
          span.error 
      table.table.table-striped.table-condensed.table-users
        thead
          tr
            th
            th DJ
            th Username
            th Position
            th Actions
        tbody
          each user, i in users
            tr(data-id='#{user._id}')
              - if(page == 1)
                td #{i+1}.
              - else
                td #{(i+1)+((page-1)*limit)}.
              td #{user.local.name}
              td #{user.local.username}
              if (user.eboard.position) 
                td #{user.eboard.position}
              else
                td
              td 
                if(user.permanent != true)
                  .dropdown
                    button.btn.dropdown-toggle.clear(type="button",id="actions",data-toggle="dropdown",aria-expanded="true")
                      img(src="/images/icons/gear.png").icon
                      span.caret
                    ul.dropdown-menu(role="menu",aria-labelledby="actions")
                      if (user.eboard.position)
                        li(role="presentation") 
                          a(role="menuitem", tabindex="-1", href="#", class="remove-position")
                            img(src="/images/icons/minus.png").icon
                            | Remove position
                      else
                        li(role="presentation") 
                          a(role="menuitem", tabindex="-1", href="#", class="add-position", data-toggle="modal" data-target=".position-modal", data-name="#{user.local.name}")
                            img(src="/images/icons/plus.png").icon
                            | Add a position
                      li(role="presentation") 
                        form(method='post', action='/admin/user/#{user._id}')
                          button.clear(role="menuitem", tabindex="-1", type='submit')
                            img(src="/images/icons/trash.png").icon
                            | Delete user 
      include _paginate-users
    //end container
    script(type='text/javascript').                                   
      var local_data =!{JSON.stringify(users)}
    include global-js
    script(src='/javascripts/users.js')